__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/
.env
.env.*
db.sqlite3
*.sqlite3
staticfiles/
media/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.ruff_cache/
.mypy_cache/
.pytype/
dist/
build/
*.egg-info/
.tox/
files
.idea/
.vscode/
*.code-workspace
.DS_Store
Thumbs.db
.coverage
htmlcov/
coverage.xml
